/* src/app/create-game/create-game.component.css */
.game-container {
  text-align: center;
  margin: 20px auto;
}
table {
  border-collapse: collapse;
  margin: auto;
}
td.cell {
  width: 35px;
  height: 35px;
  border: 1px solid #444;
  background: #eee;
  cursor: pointer;
}
td.red {
  background: red;
  border-radius: 50%;
}
td.yellow {
  background: yellow;
  border-radius: 50%;
}
